body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

header {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #fff;
    padding-left: 20px;
}

header nav {
    display: flex;
    position: absolute;
    top: 20px;
    right: 60px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

header nav a:hover {
    background-color: #444;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main section {
    margin: 50px 0;
}

main h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
}

.nav-hidden {
    transition: 0.5s;
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
}

nav {
    transition: 0.5s;
    transform: translateX(-10px);
    opacity: 1;
    visibility: visible;
}

/* Style for all bars of the navigation bar */
.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

/* On click, rotate the top bar 45 degrees counter clockwise */
.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7.5px, 7.5px);
}

/* On click, remove the second bar */
.change .bar:nth-child(2) {
    opacity: 0;
}

/* On click, rotate the bottom bar 45 degrees clockwise */
.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7.5px, -7.5px);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 20px;
    }

    header nav {
        margin-top: 20px;
    }

    header nav a {
        display: block;
        margin-bottom: 10px;
    }
}